<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基于自定义组件的评论案例</title>
    <script type="text/javascript" src="lib/vue.js"></script>
    <link rel="stylesheet" href="lib/bootstrap.css">
</head>
<body>
<div id="div1">
    <my-comment v-on:update="getList"></my-comment>
    <ul class="list-group">
        <li class="list-group-item list-group-item-action" v-for="item, index in list" key="item.id" v-on:click="deleteComment(item.id)">
            {{ item.comment }}
            <span class="badge badge-dark float-right">{{ item.name }}</span>
        </li>
    </ul>
</div>
<template id="template1">
    <div>
        <div class="form-inline">
            <input type="text" placeholder="Your Name" class="col-2 form-control" v-model="name">
            <input type="button" value="Submit" class="col-1 btn btn-primary" v-on:click="submit">
        </div>
        <textarea placeholder="Comment" class="form-control" v-model="comment" v-on:keyup.ctrl.enter="submit"></textarea>
    </div>
</template>
<script type="text/javascript">
    var vm = new Vue({
        el: "#div1",
        data: {
            list: null
        },
        methods: {
            getList() {
                this.list = JSON.parse(localStorage.getItem("comments") || "[]");
            },
            deleteComment(id) {
                let comments = JSON.parse(localStorage.getItem("comments") || "[]");
                comments.forEach(function(item, index) {
                    if (item.id === id) {
                        comments.splice(index, 1);
                    }
                })
                localStorage.setItem("comments", JSON.stringify(comments));
                this.getList();
            }
        },
        created() {
            this.getList();
        },
        components: {
            myComment: {
                template: "#template1",
                data() {
                    return {
                        name: "",
                        comment: ""
                    };
                },
                methods: {
                    submit() {
                        if (this.name && this.comment) {
                            let newComment = {
                                id: Date.now(),
                                name: this.name,
                                comment: this.comment
                            };
                            let list = JSON.parse(localStorage.getItem("comments") || "[]");
                            list.unshift(newComment);
                            localStorage.setItem("comments", JSON.stringify(list));
                            this.$emit("update");
                            this.comment = "";
                        }
                    }
                }
            }
        }
    })
</script>
</body>
</html>